:root {
  --biggest-font-size: 2.375rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

.home__img img {
  max-width: 100%;
  height: auto;
}

.main {
  overflow: hidden;
}

.home {
  padding: 0 0 2rem 2rem;
  height: 100vh;
  display: grid;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin: 0.75rem 0;
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: #3e454c;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  transition: 0.4s;
}

.home__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, 0.2);
}

.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, 0.16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.85, 0.85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  .home {
    height: initial;
    row-gap: 4rem;
  }
}
